<div class="row">
  <h3>Shortcuts for readings input</h3>
  <div class="col-md-3">
    <ul>
      <li><%= link_to "225kV Transformer", "readings/transformer" %></li>
      <li><%= link_to "Chromatograph", "readings/chromatograph" %></li>
      <li><%= link_to "Engine LFO", "readings/engine-light-fuel-oil" %></li>
      <li><%= link_to "Engine cummulative running hours", "readings/engine-running-time" %></li>
      <li><%= link_to "MV outgoing feeder", "readings/feeder" %></li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
      <li><%= link_to "Gas contractual", "readings/gas-nomination" %></li>
      <li><%= link_to "Plant declared capacity", "readings/plant-declared-capacity" %></li>
      <li><%= link_to "Plant gross capacity", "readings/plant-gross-capacity" %></li>
      <li><%= link_to "Plant reference condition", "readings/plant-reference-condition" %></li>
      <li><%= link_to "Substation consumption", "readings/substation" %></li>
      <li><%= link_to "Weather", "readings/weather" %></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li>Engine emissions O2  <%= link_to "daily",  "readings/engine-emission-dioxygen/daily" %>|
              <%= link_to "hourly", "readings/engine-emission-dioxygen/hourly" %>
      </li>
      <li>Engine emissions Nox in LFO mode <%= link_to "daily",  "readings/engine-emission-nitrous-oxides-in-light-fuel-oil-mode/daily" %>|
              <%= link_to "hourly", "readings/engine-emission-nitrous-oxides-in-light-fuel-oil-mode/hourly" %>
      </li>  
      <li>Engine emissions Nox in gas mode <%= link_to "daily",  "readings/engine-emission-nitrous-oxides-in-gas-mode/daily" %>|
              <%= link_to "hourly", "readings/engine-emission-nitrous-oxides-in-gas-mode/hourly" %>
      </li>  
      <li>Engine energy 
        <%= link_to "daily",  "readings/engine-energy/daily" %>|
        <%= link_to "hourly", "readings/engine-energy/hourly" %>
      </li>
      <li>Engine gas (GRU) 
        <%= link_to "daily",  "readings/engine-gas/daily" %>|
        <%= link_to "hourly", "readings/engine-gas/hourly" %>
      </li>
      <li>Gas pressure reducing station (GPRS) 
        <%= link_to "daily",  "readings/gas-pressure-reducing-station/daily" %>|
        <%= link_to "hourly", "readings/gas-pressure-reducing-station/hourly" %>
      </li>
      <li>Plant common LFO 
        <%= link_to "daily",  "readings/plant-light-fuel-oil/daily" %>|
        <%= link_to "hourly", "readings/plant-light-fuel-oil/hourly" %>
      </li>
    </ul>
  </div>

</div>
